.container-left-side {
    background-color: #8bb7b7;
    position: relative;
    height: 100vh;
    color: white;
}

.sub-container {
    position: absolute;
    width: 90%;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.left-animation {
    width: 640px;
    height: 480px;
}

#left-title {
    font-size: 44px;
}

#left-description {
    font-size: 24px;
    margin-top: 20px;
}

@media (min-width: 0px) and (max-width: 600px) {
    .left-animation {
        display: none;
    }
}
@media (min-width: 600px){
    .left-animation {
        width: 95%;
    }
}
@media (min-width: 600px) and (max-width: 900px) {
    #left-title {
        font-size: 24px;
    }
    #left-description {
        font-size: 22px;
    }
    .left-animation {
        height: 200px;
    }
}
